/*#66fcf1- header text color*/
/*#0b0c10- background header/icon color*/
/*#c5c6c7- text color*/
/*#1f2833- border color*/
/*#45a29e- footer/button*/

#redislandseafood{
	display: block;
	height: auto;
	width: auto;
}
body{
	margin:0;
	text-align: center;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
	position:fixed;
	width:100%;
	padding:15px 0;
	margin:0;
	background-color: #1f2833;
	height:40px;
	text-align: left;
	z-index: 3;
}

.section_heading h1{
	font-size: 45px;
	color:#45a29e;
}

.section_heading h3{
	color:#fff;
}

.container{
	/*USED TO CENTER ALIGN ELEMENTS IN A SECTION*/
	margin:0 auto;
	width:80%;
}

.mobile_header{
	padding:10px 10px;
	margin:0 auto;
}

.mobile_header li{
	display: inline-block;
	padding: 0 70px;
}
.mobile_logo{
	float:left;
	margin-left: 30px;
	padding:8px;
	background-color:#66fcf1;
	border-radius: 3em;
}


.mobile_logo a{
	text-decoration: none;
	font-size:15px; 
	color:#fff;
	height: 100%;
	width: 100%;
	font-family: 'Rock Salt', cursive;
}

.dropdown_btn{
float: right;
margin-right: 30px;
}


.nav_btn{
	background-color: #0b0c10;
 	color:#fff;
 	padding:5px;
 	font-size: 20px;
 	border:1px solid #45a29e;
 	margin:4px;
}


/*Drop down content hidden by default*/
.dropdown_content{
	border-top:1px solid #fff;
	position: fixed;
	display:none;
	background-color: rgba(15,7,0, .9);
	top:71px;
	z-index: 3;
	width: 100%;
}


.dropdown_content a{
 	color:#fff;
 	text-decoration:none;
 	border-radius: 5px;
}
.mobile_nav{
	margin:0;
}

 ul.mobile_nav{
	padding-left: 0;
}

.mobile_nav li{
	margin:0;
	list-style: none;
	padding: 12px 16px;
	width:auto;
	font-size:18px;
}

.mobile_nav li:hover{
	background-color: rgba(69,162,158,0.8);
	/*border:1px solid #333;*/
	transition: .5s;
}


.dsk-top_nav{
	
	display: none;
}


#showcase{
	position: relative;
	min-height: 750px;
	height:800px;
	text-align: center;
	background-color: none;
}

#showcase h4{
	margin:0;
	font-size: 20px;
}

#showcase h1{
	margin:0;
	font-size: 3em;
	line-height: 60px;
}

#showcase .bg_image{
	position: absolute;
	background-position: fixed;
	background: #eee url("images/showcase_2.jpg");
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	height:100%;
	z-index:-1;
	opacity: 0.6;
}

#greeting{
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	right:0;
	left:0;
	margin:auto;
}

#greeting button a{
	text-decoration: none;
}

#greeting h1{
	color:#1f2833;
	font-family: 'Rock Salt', cursive;
	font-size: 3em;
}


#greeting button{
	padding-top:50px;
	background-color: #45a29e;
	padding: 20px 10px;
	border: 4px solid #45a29e;
	border-radius: 2px;
	margin: 30px 20px;
}

#greeting button:hover{
	background-color: #347A77;
	border: 4px solid #347A77;
	transition: .5s;
}
#greeting a{
	text-decoration: underline;
	color:#fff;
	font-size: 2em;
}

#greeting a:hover{
	color:#fff;
	transition: .5s;
}



#Skills{
	padding:30px 0;
}

.skill_card{
	display: inline-block;
	background-color: #1f2833;
	position: relative;
	height:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:30px 10px;
	border-radius: 5px;
}


.skill_icon{
	height:auto;
}

.skill_icon i{
	font-size: 40px;
	color:#fff;
}

.skill_header{
	background-color: #0b0c10;
	padding:10px 0;
}

.skill_header h3{
	font-size: 20px;
	color:#fff;
}


.skill_header h2{
	color:#fff;
}

.skill_header h5{
	color:#fff;
}

.skill_level{
	padding:0;
}


.skill_level ul li{
	display: inline;
	padding:0;
}

.skill_level ul{
	padding-left: 0;
}

.skill_description{
	text-align: left;
	padding:20px 15px;
	color:#fff;
}

.colored{
	color:#66fcf1;
}

#Portfolio{
	height:auto;
	background-color: #1f2833;
	padding: 64px 0;
}


.project_container{
	margin-top: 20px;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.project_card{
	position: relative;
	display: inline-block;
	position: relative;
	height:auto;
	width:100%;
}

.project_card img{
height:100%;
width: 100%;
}

a .project_header{
	color:#45a29e;
	text-decoration: underline;
}


.project_header{
	background-color: white;
	height:90px;
	border-bottom: 1px solid #333;
	width: 100%;
}

.project_header:hover{
	transition: .6s;
	color:#dba622;
}


.project_header h3{
	padding-top: 20px;
	margin:0;
	font-size: 1.6em;
}

.project_header h4{
	margin:5px 0;
}



.project_description{
	text-align: center;
	display: none;
	position: absolute;
	color:#fff;
	background-color: rgba(102,252,241,.4);
	width: 100%;
	height: 100%;
}

.element_position{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right:0;
	left:0;
	margin:auto;

}

.element_position h3{
	margin:5px 0;
}

.project_description p{
	font-size: 2vh;
}

.btn{
	margin-bottom: 0 auto;
	background-color: transparent;
	color:#fff;
	border:2px solid #45a29e;
	padding:10px 30px;
}

.btn:hover{
	background-color: #45a29e;
	transition: .5s;
}

.btn a{
	color:#fff;
	font:3vh;
}


#aboutMe{
	height:auto;
	padding: 20px 0;
	text-align: left;
	padding:50px 0;
}

#aboutMe h1{
	text-align: center;
}

#myPhoto{
	max-height:320px;
	width:240px;
	margin:0 auto;
}

#myPhoto img{
	height: 100%;
	width: 80%;
}




#contactMe{
	height:auto;
	background-color: #1f2833;
}

.contactCard{
	text-align: left;
	padding:30px 0;
}

.contactCard p{
	color:#fff;
}


.contactCard a{
	color:#fff;
}

.contactCard label{
	color: #45a29e;
	text-align: left;
}

#success_message{
	display: none;
	color: #45a29e;
	margin: 0 auto;
	text-align: center;
}

#loader-image{
	display: none;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
}
/* ------------------- Contact Form ------------------------------------- */
form{
 display: block;
}

.contactCard{
	border-radius: 5px;
  	background-color: #f2f2f2;
  	padding: 20px;
	min-height: 398.4px;
}

#contactMe .container{
	padding: 10px;
}

.contactCard textarea{
	height: 150px;
}

.contactCard .contactBtn{
	background-color:#66fcf1;
	color: #fff;
	height: 40px;
	border-radius: 3em;
	width: 30%;
	max-width: 160px;
	outline: none;
	border: none;
}

.contact_input_forms{
	width: 100%;
  	padding: 12px;
	border: 1px solid #45a29e;
	border-radius: 4px;
	box-sizing: border-box;
  	margin-top: 6px;
  	margin-bottom: 16px;
	resize: vertical;
}


input[type=submit]:hover {
	background-color: #45a29e;
	cursor: pointer;
  }

#error_message{
display:none;
text-align: center;
}

#error_message h1 {
	font-size: 70px;
	margin: 8px;
}

#error_message a{
	color:#66fcf1;
}
#error_message span{
	font-size: 20px;

}
footer{
	background-color: #45a29e;
}

footer p{
	padding:20px 0;
	margin:0;
	color:#fff;
}












/*RESPONSIVE DESIGN - This webpage is design with mobile first in mind*/


/*Tablet*/
@media(min-width:768px){
	/*Grid display is applied to #Skills section and Portfolio section*/
	#showcase{
		height: 800px;
	}
	.grid{
		width:100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap:.5em;
	}
/*Portfolio section styling*/
	.project_image{
	height: 250px;
	}
}

@media(min-width: 1024px){
	header{
		position: fixed;
		top:0;
		z-index: 2;
		border-bottom:2px solid #fff;
	}

	.dropdown_btn{
		display: none;
	}
	.mobile_nav{
		display: none;
	}
	.dsk-top_nav{
		
		display: inline-block;
	}

	.dsk-top_nav_wrap {
		margin-left: 350px;
	}

	.dsk-top_nav_wrap li{
		display:inline;
		padding: 0 20px;

	}

	.dsk-top_nav_wrap li a{
		color:#fff;
		text-decoration: none;
		padding:8px;
		border-radius: 3px;
	}

	.dsk-top_nav_wrap li a:hover{
		transition: .5s;
		color:#FFF;
		text-decoration: underline;
		background-color: #45a29e;
		border: 1px solid #45a29e;
	}

	
}

@media(min-width: 1200px){


.project_image{
		height: 360px;
	}

	

}






/*Large laptops*/
@media(min-width:1400px){


	/*Grid display is applied to #Skills section and Portfolio section*/
	.grid{
		width:100%;
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		column-gap:.5em;
	}

	.grid_work_experience{
		width:100%;
		display: grid;
		grid-auto-rows: auto;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap:.5em;
	}
/*Portfolio section styling*/

	.p1{
		grid-row: 1/2;
		grid-column: 1/3;
	}
	.p2{
		grid-row: 1/2;
		grid-column: 3/5;
	}
	.p3{
		grid-row: 2/2;
		grid-column: 1/3;
	}
	.p4{
		grid-row: 2/2;
		grid-column: 3/5;
	}

	.p5{
		grid-column:1/3;
	}

	.p6{
		grid-row: 3;
		grid-column: 1/3;
	}

	 .p7{
		grid-row: 3;
		grid-column: 3/5;
	} 
	
	.project_image{
	height: 400px;
	}
	

}

@media(min-width: 2000px){
	.project_image{
		height: 500px;
	}
}



/*Large Screens*/
@media(min-width: 2560px){

	.dsk-top_nav{
		padding-left:400px;
	}


	.dsk-top_nav li{
		padding: 10px 30px;
		margin:0 40px;
	}
	.dsk-top_nav li a{
		font-size:25px;
	}

	.project_image img{
		height: 600px;
	}

	.project_description{
		height:600px;
	}

	#greeting{
		padding:500px 0;
	}

	#greeting h1{
		font-size:80px;
	}

	#greeting h4{
		font-size:40px;
	}

	#Skills{
		padding:200px 0;
	}

	.skill_card{
		height:450px;
	}
}


.downloadBtn{
	float:right;
	margin-left: 30px;
	padding:8px;
	background-color:#66fcf1;
	border-radius: 3em;
}

.downloadBtn span{
	color: #fff;
}

.downloadBtn:hover{
	cursor: pointer;
}


